openapi: 3.0.1
info:
  title: RelayPay-Api-Spec
  description: |-
    Relay Pay API documentation. Use `sandbox-api.relaypay.io` for Sandbox environment and `api.relaypay.io` for production.

    Some useful links:
    - [Official docs](https://relaypay-merchant.readme.io/reference/merchant-native-integration)
  contact:
    email: support@relaypay.io
  license:
    name: GPLv3
  version: 0.0.2
servers:
    - url: https://{environment}.relaypay.io/api/v1
      variables:
        environment:
          enum:
            - sandbox-api
            - api
          default: sandbox-api
tags:
  - name: Merchant Signature Testing
    description: Works in sandbox environment only
  - name: E-Commerce
    description: E-Commerce API endpoints

paths:

  '/api/v1/merchants/generate-sign/{privateKey}':
    post:
      tags:
        - Merchant Signature Testing
      summary: Testing header signature generation. Not to be used in the actual merchant implementation. This method is a convenience for a developer to verify that his sign function generates the same header as we do.
      operationId: generateSign
      parameters:
        - name: privateKey
          in: path
          required: true
          description: your private(secret) key from Relaypay
          schema:
            type: string
      x-codegen-request-body-name: payload
      requestBody:
        description: payload for the transaction
        content:
          'application/json':
            schema:
              type: string
      responses:
        200:
          description: SHA 256 Sign
          content:
            'text/plain':
              schema:
                type: string
                example: 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
  '/api/v1/ecommerce/request':
    post:
      tags:
        - E-Commerce
      summary: Ecommerce provider pushes a transaction request. The service returns a unique url to be used for redirection.
      description: Use this endpoint to create a payment request
      operationId: setEcommerceRequest
      parameters:
        - name: Sign
          in: header
          required: true
          schema:
            type: string
            example: 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      x-codegen-request-body-name: EcommerceIncomingRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EcommerceIncomingRequest'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EcommerceResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorised Request

  '/api/v1/ecommerce/salesforce':
    post:
      tags:
        - E-Commerce
      summary: Ecommerce provider pushes a Salesforce specific data for authorisation.
      description: Use this endpoint to update Salesforce private key
      operationId: setEcommerceSalesforce
      parameters:
        - name: Sign
          in: header
          required: true
          schema:
            type: string
      x-codegen-request-body-name: MerchantSalesforcePlugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantSalesforcePlugin'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorised Request

  '/api/v1/merchant/transaction':
    get:
      tags:
        - E-Commerce
      summary: Get merchant transaction for a given merchantId by a specified orderId
      description: Use this endpoint to retrieve merchant transaction by merchantId and orderId
      operationId: getMerchantTransaction
      parameters:
        - name: Authorization
          description: Your public key
          in: header
          required: true
          schema:
            type: string
        - name: merchantId
          in: query
          required: true
          description: merchantID obtained from Relaypay
          schema:
            type: string
        - name: orderId
          in: query
          required: true
          description: Your unique reference for this payment. i.e. id of the current shopping cart
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EcommerceMerchantTransaction'
        '400':
          description: Bad Request
        '401':
          description: Unauthorised Request

  '/api/v1/merchant/transaction/history':
    get:
      tags:
        - E-Commerce
      summary: Get all bill payment transactions for the merchant
      description: Use this endpoint to retrieve transaction history
      operationId: getMerchantTxs
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Your public key
          schema:
            type: string
        - name: merchantId
          in: query
          required: true
          description: merchantID obtained from Relaypay
          schema:
            type: string
        - name: page
          in: query
          required: true
          description: Starts from 0
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          required: true
          description: how many records to be returned
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageEcommerceMerchantTransaction'
        '400':
          description: Bad Request
        '401':
          description: Unauthorised Request


# ---- definitions ----

components:

  schemas:
    EcommerceResponse:
      type: object
      properties:
        redirectionUrl:
          type: string
          description: Redirect to this URL for payment. The token in the url is a unique identifier of the registered order details.
          example: https://relaypay.io/...
      description: E-commerce Transaction Response

    MerchantSalesforcePlugin:
      type: object
      properties:
        merchantId:
          type: string
          description: merchantID obtained from Relaypay
        issuer:
          type: string
          description: Salesforce OAuth specific
        subject:
          type: string
          description: Salesforce OAuth specific
        audience:
          type: string
          description: Salesforce OAuth specific
        url:
          type: string
          description: Salesforce OAuth login url
        privateKey:
          type: string
          description: privateKey exported from Salesforce

    EcommerceIncomingRequest:
      required:
        - callbackUrlRedirect
      type: object
      properties:
        amount:
          type: number
          example: 5
        customerName:
          type: string
          example: Jacob
        customerEmail:
          type: string
          example: info@gmail.com
        storeName:
          type: string
          example: relayPay
        merchantId:
          type: string
          description: merchantID obtained from Relaypay
          example: RELAYPAY001
        currency:
          type: string
          example: AUD
          description: Currency corresponding to the amountt given. Must be the currency approved for this merchant.
        orderId:
          type: string
          description: Your unique reference for this payment. i.e. id of the current shopping cart
        callbackUrlRedirect:
          type: string
          description: Where to redirect once the payment is pending or cancelled. If this value is provided it'll override the general settings.
        callbackCancelUrlRedirect:
          type: string
          description: Where to redirect once the payment is cancelled. If this value is not provided callbackUrlRedirect will be used
        webHookUrl:
          type: string
          description: Where to post updates about a payment. These will be posted with every payment change. This callback is guaranteed to happen before we redirect the user back. If this value is provided it'll override the general settings. If not provide at all - webhook will not send
        securityToken:
          type: string
          description: 'This token will be sent back with the callback in Authorization header. (Authorization:  [type] [credentials]  (e.x Basic Rjc1234567890jdGMS67890U78...)) When creating the token, both ''type'' and ''credentials'' are required.'
      description: E-commerce Transaction Request

    EcommerceMerchantTransaction:
      type: object
      properties:
        orderId:
          type: string
          description: Your unique reference for this payment. i.e. id of the current shopping cart
        transactionId:
          type: string
          description: Relaypay internal ID
        orderStatus:
          type: string
          enum:
            - Cancelled
            - Success
            - Failed
            - Pending
        customerEmail:
          type: string
        customerName:
          type: string
        amount:
          type: number
        currency:
          type: string
          enum:
            - AUD
            - USD
            - EUR
            - CAD
            - CHF
            - CNY
            - GBP
            - JPY
            - HKD
            - INR
            - NZD
            - PHP
            - SGD
            - TRY
            - AED
            - SEK
            - THB
            - ZAR
      description: E-commerce Payment Update Info

    PageEcommerceMerchantTransaction:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/EcommerceMerchantTransaction'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/Sort'
        first:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/Pageable'
        last:
          type: boolean
        empty:
          type: boolean
    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/Sort'
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        unpaged:
          type: boolean
        paged:
          type: boolean
    Sort:
      type: object
      properties:
        sorted:
          type: boolean
        unsorted:
          type: boolean
        empty:
          type: boolean
